<nav class="navbar navbar-expand-sm">
  <div class="container">
    <div class="navbar-nav">
      {% for item in site.data.navbar %}
        {% assign link = item.link | append: ".html" %}
          {% if page.url == item.link or page.url == link %}
            <a href="{{ item.link }}" class="nav-item nav-link active"> {{ item.name }}</a>
          {% else %}
            <a href="{{ item.link }}" class="nav-item nav-link"> {{ item.name }}</a>
          {% endif %}
      {% endfor %}
    </div>
  </div>
</nav>