$text-color: #000000;
$baseurl: "{{ site.baseurl }}";
$primary: #056cf2;
$primary-light: #168bf2;
$secondary: #f2ace0;
$background-light: #f7f7f7;
$background-main: #f0f0f0;

body {
  background: $background-main;
  color: $text-color;
  font-weight: 300;
  line-height: 1.5em;
  font-size: 1em;
}

section {
  margin: 2em 0;
  padding: 2em 0;
}
