footer {
  background-color: $primary-light;
  padding: 1em 0 0 0;
  color: white;
}

footer h5 {
  color: $secondary;
}

footer a {
  color: white;
  text-decoration: none;
}

#copyright {
  background-color: $primary;
  padding: 1em 0;
}
