nav.navbar {
  //   border-bottom: 0.2em solid $tertiarary;
  background-color: $background-main;
  font-size: 1.2em;
  font-weight: 400;
  color: $primary;
  width: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-nav {
  flex-direction: row;
}

@media (max-width: 576px) {
  nav.navbar {
    font-size: 1em;
  }

  #email {
    display: none;
  }
}

// .nav-item.nav-link.active {
//   background-color: $primary;
//   color: white;
// }

.nav-item {
  //   text-align: center;
  margin-right: 0.8em;
  border-radius: 1em;
  padding: 0.2em;
  display: inline-block;
}

.nav-item:hover {
  background-color: $primary;
  border-radius: 1em;
  border-width: 0;
  color: white;
}

.nav-item.nav-link .fa-envelope {
  color: $secondary;
}
